body {
  background-color: #AAC4FF;
}

h1, h2 {
  font-family: Georgia;
}

h2 {
  text-align: center;
}

hr {
  background-color: black;
  border-style: none;
  height: 2px;
}

.grid1-item, .grid2-item {
  text-align: center;
  padding: 5px;
  border: 2px black solid;
}

#htmlCSS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#capstone {
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#container h3, #class-project h3 {
  color: #E0144C;
}

#top-nav {
  text-align: center;
}