body {
  background-color: #AAC4FF;
}

h1, h2 {
  font-family: Georgia;
}

h3 {
  padding-left: 10px;
}

hr {
  background-color: black;
  border-style: none;
  height: 2px;
  clear: left;
}

img {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.preview {
  height: 200px;
}


#container div {
  float: left;
  height: 25%;
  width: 25%;
}

#container h3, #class-project h3 {
  color: #E0144C;
}

#top-nav {
  text-align: center;
}

